{% load static %}


<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">
                        <h1>Villa</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{% url 'index' %}" class="active">Home</a></li>
                      <li><a href="{% url 'all_properties' %}">Properties</a></li>
                      <li><a href="{% url 'about' %}">About us</a></li>

                        {% if request.user.is_authenticated %}
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                      <li><a href="{% url 'add_review' %}">Add review</a></li>
                        {% else %}
                      <li><a href="{% url 'login' %}">Log In/Sign Up</a></li>
                        {% endif %}
                  </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>