{% extends 'properties/base.html'%}
{% load static %}
{% block content %}

<div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="{% url 'index' %}">Home</a>  /  Contact Us</span>
          <h3>Contact Us</h3>
        </div>
      </div>
    </div>
</div>

<div class="agents-container">
  <!-- Первая карточка -->
  <div class="agent-card">
        <div class="agent-photo">
            <img src="{{ agent.photo.url }}" alt="{{ agent.name }}" />
        </div>
        <div class="agent-info">
            <h2 class="agent-name">{{ agent.name }}</h2>
            <p class="agent-position">{{ agent.position }}</p>
            <ul class="agent-details">
                <li><strong>Телефон:</strong> {{ agent.phone_number }}</li>
                <li><strong>Эл. почта:</strong> <a href="mailto:{{ agent.email }}">{{ agent.email }}</a></li>
            </ul>
        </div>
    </div>
  <!-- Можно добавлять столько карточек, сколько нужно -->
</div>



{% endblock %}